about-time==4.2.1
addict==2.3.0
alive-progress==3.1.5
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
arviz==0.17.0
attrs==23.2.0
autograd==1.6.2
betterproto==2.0.0b6
build==1.1.1
CADET-Process @ git+https://github.com/fau-advanced-separations/CADET-Process.git@7b4f4563f702ecf581286608e8c4d5c60f95fba1
CADET-Python==0.14.1
CADET-RDM==0.0.34
certifi==2024.2.2
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
cma==3.2.2
cobra==0.29.0
colorama==0.4.6
contourpy==1.2.0
corner==2.2.2
cryptography==42.0.5
cycler==0.12.1
depinfo==2.2.0
Deprecated==1.2.14
dill==0.3.8
diskcache==5.6.3
distlib==0.3.8
filelock==3.13.1
flake8==7.0.0
fonttools==4.49.0
future==1.0.0
git-lfs==1.6
gitdb==4.0.11
GitPython==3.1.42
grapheme==0.6.0
grpclib==0.4.7
h11==0.14.0
h2==4.1.0
h5netcdf==1.3.0
h5py==3.10.0
hagelkorn==1.2.3
hopsy==1.4.1
hpack==4.0.0
httpcore==1.0.4
httpx==0.27.0
hyperframe==6.0.1
identify==2.5.35
idna==3.6
importlib_metadata==7.0.2
importlib_resources==6.3.0
iniconfig==2.0.0
jaraco.classes==3.3.1
joblib==1.3.2
keyring==24.3.1
kiwisolver==1.4.5
llvmlite==0.42.0
markdown-it-py==3.0.0
matplotlib==3.8.3
mcbackend==0.5.2
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.2.0
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
nodeenv==1.8.0
numba==0.59.0
numpy==1.26.4
optlang==1.8.1
packaging==24.0
pandas==2.2.1
pathos==0.3.2
pillow==10.2.0
platformdirs==4.2.0
pluggy==1.4.0
PolyRound==0.2.11
pox==0.3.4
ppft==1.7.6.8
pre-commit==3.6.2
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.6.4
pydantic_core==2.16.3
pyflakes==3.2.0
PyGithub==2.2.0
Pygments==2.17.2
PyJWT==2.8.0
pymoo==0.6.1.1
PyNaCl==1.5.0
pyparsing==3.1.2
pyproject_hooks==1.0.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pytest==8.1.1
python-benedict==0.33.2
python-dateutil==2.9.0.post0
python-fsutil==0.13.1
python-gitlab==4.4.0
python-libsbml==5.20.2
python-slugify==8.0.4
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.7.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-learn==1.4.1.post1
scipy==1.12.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
swiglpk==5.0.10
sympy==1.12
tabulate==0.9.0
text-unidecode==1.3
threadpoolctl==3.3.0
tqdm==4.66.2
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.25.1
wrapt==1.16.0
xarray==2024.2.0
xarray-einstats==0.7.0
zipp==3.18.0
