about-time==4.2.1
addict==2.3.0
alive-progress==3.2.0
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1737352602016/work
arviz==0.20.0
autograd==1.7.0
backports.tarfile==1.2.0
betterproto==2.0.0b6
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1733827268945/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
CADET-Process==0.10.0
CADET-Python==1.0.4
CADET-RDM @ git+https://github.com/cadet/CADET-RDM.git@3e073dd85c5e54d95422c0cdcc1190d80da9e138
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1734380492396/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560520483/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click==8.1.8
cma==3.2.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
conda @ file:///home/conda/feedstock_root/build_artifacts/conda_1738241099733/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1737800978214/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1736345463896/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1729004031731/work
contourpy==1.3.1
corner==2.2.3
cryptography==44.0.0
cycler==0.12.1
Deprecated==1.2.18
dill==0.3.9
diskcache==5.6.3
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
filelock==3.17.0
fonttools==4.56.0
frozendict @ file:///home/conda/feedstock_root/build_artifacts/frozendict_1728841320383/work
gitdb==4.0.12
GitPython==3.1.44
grapheme==0.6.0
grpclib==0.4.7
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
h5netcdf==1.5.0
h5py==3.12.1
hagelkorn==1.2.3
hopsy==1.5.2
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1733299205993/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1733298771451/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata==8.6.1
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.8.0
joblib==1.4.2
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1725302897999/work
keyring==25.6.0
kiwisolver==1.4.8
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1735806506118/work/libmambapy
llvmlite==0.44.0
matplotlib==3.10.0
mcbackend==0.5.2
menuinst @ file:///home/conda/feedstock_root/build_artifacts/menuinst_1731146967497/work
more-itertools==10.6.0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.17
numba==0.61.0
numpy==1.26.4
optlang==1.8.3
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas==2.2.3
pathos==0.3.3
pillow==11.1.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1733222765875/work
PolyRound==0.3.0
pox==0.3.5
ppft==1.7.6.9
psutil==6.1.1
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1732588391741/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
PyGithub==2.5.0
PyJWT==2.10.1
pymoo==0.6.1.3
PyNaCl==1.5.0
pyparsing==3.2.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil==2.9.0.post0
python-gitlab==5.6.0
pytz==2025.1
PyYAML==6.0.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
requests-toolbelt==1.0.0
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1736248022260/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1728724455198/work
scikit-learn==1.6.1
scipy==1.15.1
SecretStorage==3.3.3
semantic-version==2.10.0
six==1.17.0
smmap==5.0.2
swiglpk==5.0.12
sympy==1.13.3
tabulate==0.9.0
threadpoolctl==3.5.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1729762363021/work
typing_extensions==4.12.2
tzdata==2025.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
wrapt==1.17.2
xarray==2025.1.2
xarray-einstats==0.8.0
zipp==3.21.0
zstandard==0.23.0
